<!doctype html>

<html lang="en" ng-app="swimApp">
  <head>
    <meta charset="utf-8" />
    {% include 'stylesheets.html' %}
    <title>Swim Web App</title>
  </head>
  
  <body>
    
    <header>
    	<!-- Navigation Menu -->
    	<nav>
			<ul>
				<li><a href="/#/">Workouts</a></li>
				<li><a href="/#/profile">Profile</a></li>
			</ul>
		</nav>
		
    	<div id="swim_app_title">Build a Workout</div>
	</header>
    
    <div ng-view></div>

	{% include 'javascripts.html' %}
  </body>
  
</html>