/* Number of repetitions */
input.repetitions {
    width: 50px;
}

.btn {
    cursor: pointer;
}

/* Workout Sets */
.warm_up {
    background-color: #FFFFB2;
}
.pre_set {
    background-color: #D6FFD6;
}
.main_set {
    background-color: #FFCCCC;
}
.cool_down {
    background-color: #CCEBFF;
}

table.workoutSet_table {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
table.workoutSet_table th {
    border: 1px solid;
}
.workoutSet_col1 {
    border-style: solid;
	border-width: 1px;
	position: relative;
}
.workoutSet_col2 {
    width: 70%;
    border-style: solid;
	border-width: 1px;
	position: relative;
}
.workoutSet_col3 {
    width: 20%;
    position: relative;
    border-style: solid;
	border-width: 1px;
}

ul.workoutSets {
    list-style: none;
    padding: 0px;
}
ul.workoutSets li {
	margin-bottom: 2px;
}
ul.workoutSets table th {
    text-align: center;
}

/* Workout Set type control */
div.workoutSetType {
	text-align: center;
	border-style: solid;
	border-width: 1px;
}

div.numberOfRepetitionsWorkoutSet {
	text-align: right;
	border-style: solid;
	border-width: 1px;
}

/* Sorting of Workout Set */ 
div.workoutSetSortingControl {
	cursor: move;
	
	position: absolute;
	width: 20px;
	align: center;
	
	border: 1px solid;
	margin-bottom: 2px;
}

/* Delete workout set button class */
.workoutSetRemoveBtn {
	cursor: pointer;
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 14px;
	padding: 2px;
	color: red;
	/*
	border-style: solid;
	border-width: 1px;
	*/
}

/* Exercise Sets */
table.exerciseSet_table {
    width: 100%;
    margin: 0px;
    padding: 0px;
    /*
    border: 1px solid;
    margin-bottom: 1px;
    */
}
table.exerciseSet_table th {
    /*border: 1px solid;*/
}
.exerciseSet_col1 {
    width: 10%;
    text-align: right;
}
.exerciseSet_col2 {
    width: 60%;
}
.exerciseSet_col3 {
    width: 30%;
    text-align: left;
}
ul.exerciseSets {
    list-style: none;
    padding: 0px;
}
ul.exerciseSets li {
    padding: 0px;
    margin: 0px;
    position: relative;
    
    border: 1px dashed #990099;
    margin-bottom: 1px;
}

/* Sort Exercise Set Button */
span.exerciseSetSortingControl {
  cursor: move;
  position: absolute;
  top: 4px;
  left: 3px;
  width: 15px;
  text-align: center;
  /*
  border: 1px solid;
  margin-bottom: 2px;
  */
}

/* Delete Exercise Set Button */
span.exerciseSetRemoveBtn {
	cursor: pointer;
	width: 15px;
	float: right;
	/*
	border: 1px solid;
  	margin-bottom: 2px;
    */
}

div.newExerciseSetContainer {
	margin: 0px;
	margin-top: 2px;
	padding: 0px;
	/*
	border: 1px solid;
  	margin-bottom: 1px;
  	*/
}

/* Exercise */
input.exercise_distance {
    width: 50px;
}
input.exercise_interval {
    width: 50px;
}